/Ejercicio01/nbproject/private/
/Ejercicio01/build/
/ejercicio02/nbproject/private/
/ejercicio02/build/
/ejercicio03/nbproject/private/
/ejercicio03/build/
/ejercicio04/nbproject/private/
/ejercicio04/build/
/ejercicio05/nbproject/private/
/ejercicio05/build/
/ejercicio06/nbproject/private/
/ejercicio06/build/
/ejercicio07/nbproject/private/
/ejercicio07/build/
/ejercicio08/nbproject/private/
/ejercicio08/build/
/ejercicio09/nbproject/private/
/ejercicio09/build/
/ejercicio10/nbproject/private/
/ejercicio10/build/
